.object-selection-header{
    text-align: center;
}



.object-selection-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .video-container {
    flex: 3;
    max-width: 6200px;
    max-height: 2000px; /* Proper width */
    border: solid purple 5px; /* Fix border */
  }
  
  .selector-container {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    flex: 1;
    max-width: 300px; /* Limits dropdown width */
    display: flex;
    align-items: center;
  }
  

  
  